<div class="container">
<%= simple_form_for @cocktail do |f| %>
  <%= f.input :name, input_html: { class: "mb-2 mr-sm-2" }%>
  <%= f.input :photo, as: :file %>
  <%= f.button :submit, class: "btn-primary mb-2" %>
<% end %>
</div>

<div class="container">
<p><%= link_to "Back to all cocktails", root_path %></p>
</div>
